.greetingForm {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.inputAndButtonContainer {
  margin-top: 9px;
  display: flex;
  align-items: start;
  gap: 12px;
}

.error {
  color: #CC0000;
  margin-top: 7px;
}

input {
  border: 1px solid #D1D1D1;
  padding: 8px 12px;
  border-radius: 5px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.input:focus {
}

.errorInput {

}

.button {
  padding: 8px 24px;
  border-radius: 3px;
  border: none;
  background: rgba(0, 102, 204, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  color: rgba(0, 0, 0, 0.5);
}

.greeting {
  margin-top: 10px;
  font-weight: 500;
}
